# Dependencies
.docker
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
node_modules
dist
/prisma/generated/
generated
prisma/generated/

# Environment
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Build
/dist
/build
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests
/coverage
.nyc_output

# Temp files
*.tmp
*.temp